body {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.convert-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    height: 450px;
}

.convert-header-text {
    color: white;
    font-size: 40px;
    margin-top: 40px;
}

#number-input {
    height: 100px;
    width: 150px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 10px;
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    -moz-appearance: textfield;
    appearance: textfield;
    padding: 5px;
    margin-top: 30px;
}

#number-input::-webkit-outer-spin-button,
#number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#convert-btn {
    margin-top: 50px;
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}

.conversion-results {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conversion-results h2 {
    color: #CCC1FF;
    font-weight: 600;
    margin-top: 0;
}

.converted-container {
    background-color: #273549;
    height: 150px;
    width: 700px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.converted-container p {
    color: white;
}